 body {
    padding-left: 35%;
}

 a {
    font-size: 20px;
}

 p {
    font-size: 20px;
    color: green;
    font-weight: bold;
    font-family: tahoma;
}

 li {
    font-size: 20px;
    color: black;
 }
 
