h1 {
    color: darkblue;
    font-size: 70px;
}

h2 {
    color: green;
    font-size: 50px;
}

li {
    font-size: 30px;
}

article {
    color: darkgreen;
    font-weight: bold;
}

a {
    font-size: 30px;
}